@model KSS.HorseRacing.Models.UserEditViewModel
@{
    ViewBag.Title = "Edit User";
}
<div class="page-header">
</div>
<div class="page-header">
    <h3>Edit User
    </h3>
</div>
<div class="row-fluid">
    <div class="offset3 span3">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.UserId)
            <dl class="dl-horizontal">
                <dt>User Name
                </dt>
                <dd>
                    @Html.EditorFor(x => x.Username)
                </dd>
            </dl>
    
            <dl class="dl-horizontal">
                <dt>User Role
                </dt>
                <dd>
                    @Html.DropDownListFor(x => x.SelectedRoleId, Model.Roles, "Select Role")
                </dd>
            </dl>
            <div class="btn-group pull-right">
                @Html.ActionLink("Back To List", "Index", "User", null, new { @class = "btn" })
                <input type="submit" class="btn btn-primary " value="Save" />
            </div>
        }

    </div>
</div>
