@{
    ViewBag.Title = "Permission Error";
    ViewBag.Title = "Ошибка прав доступа!";
}
<div class="offset2 span8 alert alert-info">
    <h1>        
        У вас нет полномочий для просмотра этой страницы
        @*You have no permissions to view that page.*@
    </h1>
</div>