@{
    ViewBag.Title = "Home page";
}
<div class="page-header">
</div>
<div class="page-header">
    <h3>Home page</h3>

</div>
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Horses", "Index", "Horses")
    <br />
    <br />
    @Html.ActionLink("Jokeys", "Index", "Jokey")
    <br />
    <br />
    @Html.ActionLink("Races", "Index", "Race")
}

