@{
    ViewBag.Title = "Home page";
}
<div class="page-header">
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="page-header">
        <h3>Select section</h3>
    </div>  
    <ul class="nav nav-stacked nav-pills span2">
        <li class="active">
            @Html.ActionLink("Horses", "Index", "Horses")
        </li>
        <li class="active">
            @Html.ActionLink("Jokeys", "Index", "Jokey")
        </li>
        <li class="active">
            @Html.ActionLink("Racers", "Index", "Racer")
        </li>
        <li class="active disabled">
            @Html.ActionLink("Races", "Index", "Race")
        </li>
        @*<li class="active"></li>*@
    </ul>    
}
else
{
    <div class="page-header">
        <h3>Home page</h3>
    </div>
}