@{
    ViewBag.Title = "Home page";
}
<div class="page-header">
</div>
<div class="page-header">
    Index page
</div>
@Html.ActionLink("Horses", "Index", "Horses")
<br/>
<br/>
@Html.ActionLink("Jokeys", "Index", "Jokey")
