@{
    ViewBag.Title = "Home page";
}
<div class="page-header">
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="page-header">
        <h3>Select section</h3>
    </div>  
    <div>
        @Html.ActionLink("Horses", "Index", "Horses", null, new { @class = "btn btn-success btn-large" })
        <br />
        <br />
        @Html.ActionLink("Jokeys", "Index", "Jokey", null, new { @class = "btn btn-success btn-large" })
        <br />
        <br />
        @Html.ActionLink("Races", "Index", "Race", null, new { @class = "btn btn-success btn-large" })
    </div>
    
}
else
{
    <div class="page-header">
        <h3>Home page</h3>
    </div>  
}

