@{
    ViewBag.Title = "Home page";
    ViewBag.Title = "Домашняя страница";
}
<div class="page-header">
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="page-header">
        <h3>
            @*Select section*@
            Выберите раздел:
        </h3>
    </div>  
    <ul class="nav nav-stacked nav-pills span2">
        <li class="active">
            @Html.ActionLink(/*"Horses"*/ "Лошади" , "Index", "Horses")
        </li>
        <li class="active">
            @Html.ActionLink(/*"Jokeys" */"Жокеи", "Index", "Jokey")
        </li>
        <li class="active">
            @Html.ActionLink(/*"Racers"*/ "Гонщики", "Index", "Racer")
        </li>
        @*<li class="active disabled">
            @Html.ActionLink("Races", "Index", "Race")
        </li>*@
        @*<li class="active"></li>*@
    </ul>    
}
else
{
    <div class="page-header">
        <h3>
            @*Home page*@
            Домашняя страница
        </h3>
    </div>
}