@{
    ViewBag.Title = "Участники определённого заезда.";
}
@Html.Partial("PartialPageHeader")

<div class="row-fluid">
    Выберите дату:
</div>
<div class="row-fluid">
    <input class="text-box single-line with-datepicker"  id="selected-date"  type="text"  value='@(DateTime.Now.Date.ToShortDateString().Replace('/', '-'))' />
<br />
<br />
</div>
<div class="row-fluid">
    Выберите номер заезда в этот день:
</div>
<div class="row-fluid">
    <input class="text-box single-line"  id="selected-number"  type="number"  value='1' />
</div>
<br />
<br />
<input type="button" id="get" value="Выполнить запрос" />
<br />
<br />
<div id="place-for-results">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.with-datepicker').datepicker({
            format: 'mm-dd-yyyy'
        });
    });

    // Changes the cursor to an hourglass
    function cursorWait() {
        document.body.style.cursor = 'wait';
    }

    // Returns the cursor to the default pointer
    function cursorClear() {
        document.body.style.cursor = 'default';
    }

    $("#get").click(function () {
        var sectionResults = $("#place-for-results");
        var selectedDate = $('#selected-date').val();
        var selectedNumber = $('#selected-number').val();
        if (selectedDate != null && selectedDate != "" && selectedNumber != null && selectedNumber != "") {
            cursorWait();
            var onError = function () {
                cursorClear();
                alert("Error while AJAX request");
            };

            (function () {
                var onSuccess = function(data) {
                    sectionResults.html(data);
                    cursorClear();
                };
                $.ajax({
                    url: "/Home/GetParticipantsForRace/",
                    data: { date: selectedDate, number: selectedNumber },
                    traditional: true
                }).success(onSuccess).error(onError);
            })();

        } else {
            sectionResults.html("");
        }
    });
</script>


