@model  IEnumerable<KSS.HorseRacing.Models.RaceViewModel>
@{
    ViewBag.Title = "Список всех гонок";
}
<div class="page-header"></div>
<div class="page-header">
    <h4>
        @ViewBag.Title
    </h4>
</div>
@Html.Partial("PartialCreateNewEntity")
<table>
    <tr>
        <th></th>
    </tr>

@foreach (var race in Model) {
    <tr>
        <td>
            @*@Html.ActionLink(/*"Edit"*/ "Редактировать", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink(/*"Details"*/ "Детали", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink(/*"Delete"*/ "Удалить", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
