<div class="btn-group pull-right">
    @if (Request.IsAuthenticated)
    {
        <div class="btn-group pull-right">
            <div class="btn dropdown-toggle btn-info" data-toggle="dropdown">
                <i class="icon-user"></i>
                <span class="label label-info">
                    @User.Identity.Name
                </span><span class="caret"></span>
            </div>
            <ul class="dropdown-menu">                
                <li>
                    @Html.ActionLink("LogOff", "Logout", "Account")
                </li>
            </ul>
        </div>
    }
    else
    {
        @Html.ActionLink("LogIn", "Login", "Account", null, new { @class = "btn btn-primary" })                
    }
</div>


