@model string
@if (User.IsInRole(Model))
{
    <p>
        @Html.ActionLink(/*"Create New"*/ "Создать", "Create", null, new { @class = "btn btn-primary btn-large pull-right" })
    </p>                                                                                                   
    <br />
    <br />
    <br />
}
